{% extends "starter.html" %}

{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block navbar_messages %}{% endblock navbar_messages %}
{% block navbar_notifications %}{% endblock navbar_notifications %}
{% block navbar_tasks %}{% endblock navbar_tasks %}
{% block navbar_user %}{% endblock navbar_user %}
{% block navbar_sidebar_control_button %}{% endblock navbar_sidebar_control_button %}

{% block sidebar_main %}{% endblock sidebar_main %}
{% block sidebar_control %}{% endblock sidebar_control %}
