{% extends "starter.html" %}

{% load static %}
{% load activity_tags %}

{% block title %}Dashboard{% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block page_description %}Dashboard of Common Repository{% endblock %}
{% block page_breadcrumb %}Dashboard{% endblock %}

{% block content %}

<!-- Information -->
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-document-text"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">My ELOs</span>
                <span class="info-box-number">{{elos_my_total_count}}</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-cloud"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">All ELOs</span>
                <span class="info-box-number">{{elos_total_count}}</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Likes</span>
                <span class="info-box-number"></span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Members</span>
                <span class="info-box-number">{{users_total_count}}</span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
</div><!-- /.row -->

<!-- ELO -->
<div class="row">
    <div class="col-md-6">
      <!-- My ELO List -->
      <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">My ELOs</h3>
            <div class="box-tools pull-right">
                <span class="label label-info">{{elos_my_total_count}} ELOs</span>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <div id="myELO">
                <ul class="users-list clearfix">
                {% for elo in elos_my_list %}
                    <li>
                        <img src="{% static "ELOs/img/1.png" %}" alt="ELOs Image"/>
                        <a class="users-list-name" href="{% url 'elos:elos-detail' elo.id %}">{{elo.name|truncatechars:30}}</a>
                        <a href="{% url 'users:detail' elo.author %}"><span class="users-list-date">{{elo.author.username}}</span></a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer text-center">
          <a href="{% url 'elos:elos-mylist' %}" class="uppercase">View All My ELOs</a>
        </div><!-- /.box-footer -->
      </div><!--/.box -->
    </div><!-- /.col -->
    <!-- My ELOs -->
    
    <div class="col-md-6">
      <!-- All ELO List -->
      <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">All ELOs</h3>
            <div class="box-tools pull-right">
                <span class="label label-danger">{{elos_total_count}} ELOs</span>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <div id="allELO">
                <ul class="users-list clearfix">
                {% for elo in elos_all_list %}
                    <li>
                        <img src="{% static "ELOs/img/1.png" %}" alt="ELOs Image"/>
                        <a class="users-list-name" href="{% url 'elos:elos-detail' elo.id %}">{{elo.name|truncatechars:30}}</a>
                        <a href="{% url 'users:detail' elo.author %}"><span class="users-list-date">{{elo.author.username}}</span></a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer text-center">
          <a href="{% url 'elos:elos-alllist' %}" class="uppercase">View All ELOs</a>
        </div><!-- /.box-footer -->
      </div><!--/.box -->
    </div><!-- /.col -->
    <!-- All ELOs -->
</div><!-- /.row -->

<!-- Activities -->
<div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Activities</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <div id="activities">
                {% activity_stream 'user' request.user with_user_activity=True %}
                <ul class="timeline timeline-inverse">
                  {% for action in stream|slice:":10"%}
                  <!-- timeline item -->
                  <li>
                    <!-- timeline icon -->
                    <i class="fa fa-envelope bg-blue"></i>
                    <div class="timeline-item">
                      <div class="timeline-body">
                        {% display_action action %}
                      </div>
                    </div>
                  </li>
                  <!-- /.timeline item -->
                  {% empty %}
                  No actions yet.
                  {% endfor %}
                  <!-- END timeline item -->
                  <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                  </li>
                </ul>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer text-center">
          <a href="{% url 'actstream_user' request.user %}" class="uppercase">View All My Activities</a>
        </div><!-- /.box-footer -->
      </div><!--/.box -->
    </div><!-- /.col -->
</div><!-- /.row -->
{% endblock content %}
