{% extends "starter.html" %}

{% load activity_tags %}
{% load avatar_tags %}
{% load bootstrap_pagination %}

{% block title %}User {{ user.username }}'s following users{% endblock %}
{% block page_title %}Users been followed by {{ user.username }}{% endblock %}
{% block page_description %}All users been followed by {{ user.username }}{% endblock %}
{% block page_breadcrumb %}Users following{% endblock %}

{% block content %}
<div class="row">
  <!-- col -->
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Following users</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <ul class="users-list clearfix">
          {% for following_user in object_list %}
            <li>
                <a href="{% url 'users:detail' following_user.username %}"><img src="{% avatar_url following_user %}" alt="User {{ following_user.username }} profile picture"/></a>
                <a href="{% url 'users:detail' following_user.username %}"><span class="users-list-date">{{ following_user.get_full_name }}</span></a>
                <a href="{% url 'users:detail' following_user.username %}"><span class="users-list-date">{{ following_user.username }}</span></a>
                {% if following_user == request.user %}
                <a href="#"><b>It's You!</b></a>
                {% else %}
                  {% if request.user|is_following:following_user %}
                  <a href="{% url 'users:unfollow' following_user %}?next={{ request.path }}"><b>Unfollow</b></a>
                  {% else %}
                  <a href="{% url 'users:follow' following_user %}?next={{ request.path }}"><b>Follow</b></a>
                  {% endif %}
                {% endif %}
            </li>
          {% empty %}
            <p>Be the first one?</p>
            <a href="{% url 'users:follow' user %}?next={{ request.path }}" class="btn btn-primary btn-block"><b>Follow {{ user.username }}</b></a>
          {% endfor %}
        </ul>
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <div class="pull-right">
          {% bootstrap_paginate page_obj %}
        </div>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->
{% endblock content %}
