{% extends "starter.html" %}

{% load avatar_tags %}

{% block title %}Users{% endblock %}
{% block page_title %}All Users{% endblock %}
{% block page_description %}All users on Common Repository{% endblock %}
{% block page_breadcrumb %}All users{% endblock %}

{% block content %}
<div class="row">
  <!-- col -->
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">All Users</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <ul class="users-list clearfix">
          {% for user in user_list %}
            <li>
                <a href="{% url 'users:detail' user.username %}"><img src="{% avatar_url user %}" alt="User {{ user.username }} profile picture"/></a>
                <a href="{% url 'users:detail' user.username %}"><span class="users-list-date">{{ user.get_full_name }}</span></a>
                <a href="{% url 'users:detail' user.username %}"><span class="users-list-date">{{ user.username }}</span></a>
            </li>
          {% endfor %}
        </ul>
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->
{% endblock content %}
