{% extends "starter.html" %}

{% load static %}
{% load avatar_tags %}
{% load activity_tags %}

{% load commonrepo_tags %}

{% block title %}Users - {{ user.username }}{% endblock %}
{% block page_title %}Users {{ user.username }}'s Profile{% endblock %}
{% block page_description %}User information{% endblock %}
{% block page_breadcrumb %}Users Profile{% endblock %}

{% block content %}
<div class="row">
  <!-- col -->
  <div class="col-md-4">

    <!-- Profile Image -->
    <div class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" src="{% avatar_url user %}" alt="User {{ user.username }} profile picture">

        <h3 class="profile-username text-center">{{ user.username }}</h3>

        <h4 class="profile-username text-center">{{ user.get_full_name }}</h4>

        <p class="text-muted text-center">{{ user.organization }}</p>

        <p class="text-muted text-center"><small>Member since {{ user.date_joined }}</small></p>

        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>Followers</b> <a href="{% url 'users:followers' user %}" class="pull-right">{% get_user_followers_count user %}</a>
          </li>
          <li class="list-group-item">
            <b>Following</b> <a href="{% url 'users:following' user %}" class="pull-right">{% get_user_following_count user %}</a>
          </li>
          <li class="list-group-item">
            <b>Friends</b> <a class="pull-right">{% get_user_friends_count user %}</a>
          </li>
          <li class="list-group-item">
            <b>ELOs</b> <a class="pull-right">{% get_user_elo_count user %}</a>
          </li>
          <li class="list-group-item">
            <b>Groups</b> <a class="pull-right">{% get_user_group_count user %}</a>
          </li>
        </ul>

        {% if object == request.user %}
        <a href="#" class="btn btn-primary btn-block"><b>It's You!</b></a>
        {% else %}
          {% if request.user|is_following:object %}
          <a href="{% url 'users:unfollow' object %}?next={{ request.path }}" class="btn btn-primary btn-block"><b>Unfollow</b></a>
          {% else %}
          <a href="{% url 'users:follow' object %}?next={{ request.path }}" class="btn btn-primary btn-block"><b>Follow</b></a>
          {% endif %}
        {% endif %}
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <!-- About Me Box -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">About Me</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <strong><i class="fa fa-graduation-cap margin-r-5"></i> Education</strong>

        <p class="text-muted">
          {{ user.education|default:"None" }}
        </p>

        <hr>

        <strong><i class="fa fa-book margin-r-5"></i> Teaching Category</strong>

        <p class="text-muted">
          {{ user.teaching_category|default:"None" }}
        </p>

        <strong><i class="fa fa-book margin-r-5"></i> Teaching Subject Area</strong>

        <p class="text-muted">
          {{ user.teaching_subject_area|default:"None" }}
        </p>

        <hr>

        <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

        <p class="text-muted">
          {{ user.area|default:"None" }}
        </p>

        <hr>

        <strong><i class="fa fa-language margin-r-5"></i> Language</strong>

        <p>
          {% if user.language %}
            <span class="label label-info">{{ user.language }}</span>
          {% else %}
            None
          {% endif %}
        </p>

        <hr>

        <strong><i class="fa fa-user margin-r-5"></i> About Me</strong>

        <p>
          {{ user.about|default:"None" }}
        </p>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <!-- Social Box -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Socials</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <strong><i class="fa fa-facebook margin-r-5"></i> Facebook</strong>

        <p class="text-muted">
          <a href="{{ user.social_facebook }}" target="_blank">{{ user.social_facebook }}</a>
        </p>

        <hr>

        <strong><i class="fa fa-google-plus margin-r-5"></i> Google Plus</strong>

        <p class="text-muted">
          <a href="{{ user.social_google }}" target="_blank">{{ user.social_google }}</a>
        </p>

        <hr>

        <strong><i class="fa fa-linkedin margin-r-5"></i> Linkedin</strong>

        <p class="text-muted">
          <a href="{{ user.social_linkedin }}" target="_blank">{{ user.social_linkedin }}</a>
        </p>

        <hr>

        <strong><i class="fa fa-twitter margin-r-5"></i> Twitter</strong>

        <p class="text-muted">
          <a href="{{ user.social_twitter }}" target="_blank">{{ user.social_twitter }}</a>
        </p>

      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

  </div><!-- /.col -->

  <!-- Activities -->
  <div class="col-md-8">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ user.username }}'s Activities</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        {% activity_stream 'actor' user %}
        <ul class="timeline timeline-inverse">
          {% for action in stream|slice:":10"%}
          <!-- timeline item -->
          <li>
            <!-- timeline icon -->
            <i class="fa fa-envelope bg-blue"></i>
            <div class="timeline-item">
              <div class="timeline-body">
                {% display_action action %}
              </div>
            </div>
          </li>
          <!-- /.timeline item -->
          {% endfor %}
          {% if stream %}
          <!-- END timeline item -->
          <li>
            <i class="fa fa-clock-o bg-gray"></i>
          </li>
          {% endif %}
        </ul>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->

  <!-- ELOs -->
  <div class="col-md-8">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ user.username }}'s ELOs</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Version</th>
                <th>Parent ELO</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              {% for elo in elo_list %}
              <tr>
                <td><a href="{% url 'elos:elos-detail' elo.id %}">{{elo.id}}</a></td>
                <td>{{elo.name|truncatechars:30}}</td>
                <td>{{elo.version}}</td>
                <td><a href="{% url 'elos:elos-detail' elo.parent_elo_id %}">{{elo.parent_elo|truncatechars:30}}</a></td>
                <td>{{elo.original_type}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->

  <!-- Groups -->
  <div class="col-md-8">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Groups created by {{ user.username }}</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Members</th>
              </tr>
            </thead>
            <tbody>
              {% for group in object.commonrepo_groups.all %}
                <tr>
                  <td><a href="{% url 'groups:groups-detail' group.id %}">{{group.id}}</a></td>
                  <td>{{group.name}}</td>
                  <td>{{group.description}}</td>
                  <td>
                  {% for member in group.members.all %}
                    <a href="{% url 'users:detail' member.username %}">{{member.username}}</a>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Groups joined by {{ user.username }}</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Creator</th>
                <th>Description</th>
                <th>Members</th>
              </tr>
            </thead>
            <tbody>
              {% for group in object.commonrepo_groups_members.all %}
                <tr>
                  <td><a href="{% url 'groups:groups-detail' group.id %}">{{group.id}}</a></td>
                  <td>{{group.name|truncatechars:30}}</td>
                  <td><a href="{% url 'users:detail' group.creator %}">{{group.creator}}</a</td>
                  <td>{{group.description|truncatechars:120}}</td>
                  <td>
                  {% for member in group.members.all %}
                    <a href="{% url 'users:detail' member.username %}">{{member.username}}</a>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->

</div><!-- /.row -->

<div class="row">
  {% if object == request.user %}
  <div class="col-sm-12 ">
    <div class="box box-warning">
      <div class="box-body box-profile">
        <a class="btn btn-primary" href="{% url 'users:update' %}">Update My Info</a>
        <a class="btn btn-primary" href="{% url 'account_email' %}">Update My E-Mail</a>
        <a class="btn btn-primary" href="{% url 'socialaccount_connections' %}">Update My Social Accounts</a>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  {% endif %}
</div><!-- /.row -->
{% endblock %}

