{% extends "starter.html" %}

{% load static %}
{% load avatar_tags %}

{% block title %}Users - {{ user.username }}{% endblock %}
{% block page_title %}Users {{ user.username }}'s Profile{% endblock %}
{% block page_description %}User information{% endblock %}
{% block page_breadcrumb %}Users Profile{% endblock %}

{% block content %}
<div class="row">
  <!-- col -->
  <div class="col-md-4">

    <!-- Profile Image -->
    <div class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" src="{% avatar_url user %}" alt="User {{ user.username }} profile picture">

        <h3 class="profile-username text-center">{{ user.get_full_name }}</h3>

        <p class="text-muted text-center">{{ user.organization }}</p>

        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>Followers</b> <a class="pull-right">{{ followers_count }}</a>
          </li>
          <li class="list-group-item">
            <b>Following</b> <a class="pull-right">{{ following_count }}</a>
          </li>
          <li class="list-group-item">
            <b>Friends</b> <a class="pull-right">{{ friends_count }}</a>
          </li>
          <li class="list-group-item">
            <b>ELOs</b> <a class="pull-right">{{ elo_count }}</a>
          </li>
        </ul>

        {% if object == request.user %}
        <a href="#" class="btn btn-primary btn-block"><b>It's You!</b></a>
        {% else %}
          {% if has_followed %}
          <a href="#" class="btn btn-primary btn-block"><b>Followed</b></a>
          {% else %}
          <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
          {% endif %}
        {% endif %}
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <!-- About Me Box -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">About Me</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

        <p class="text-muted">
          {{ user.education }}
        </p>

        <hr>

        <strong><i class="fa fa-book margin-r-5"></i> Teaching Category</strong>

        <p class="text-muted">
          {{ user.teaching_category }}
        </p>

        <strong><i class="fa fa-book margin-r-5"></i> Teaching Subject Area</strong>

        <p class="text-muted">
          {{ user.teaching_subject_area }}
        </p>

        <hr>

        <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

        <p class="text-muted">{{ user.area }}</p>

        <hr>

        <strong><i class="fa fa-pencil margin-r-5"></i> Language</strong>

        <p>
          <span class="label label-info">{{ user.language }}</span>
        </p>

        <hr>

        <strong><i class="fa fa-file-text-o margin-r-5"></i> About Me</strong>

        <p>{{ user.about }}</p>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

  </div><!-- /.col -->

  <!-- col -->
  <div class="col-md-8">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ user.username }}'s ELOs</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Create Date</th>
                <th>Update Date</th>
                <th>Version</th>
                <th>Parent ELO</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              {% for elo in elo_list %}
              <tr>
                <td><a href="{% url 'elos:elos-detail' elo.id %}">{{elo.id}}</a></td>
                <td>{{elo.name}}</td>
                <td>{{elo.create_date}}</td>
                <td>{{elo.update_date}}</td>
                <td>{{elo.version}}</td>
                <td><a href="{% url 'elos:elos-detail' elo.parent_elo_id %}">{{elo.parent_elo}}</a></td>
                <td>{{elo.original_type}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">Reload</a>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
  </div><!-- /.col -->

</div><!-- /.row -->

<div class="row">
  {% if object == request.user %}
  <div class="col-sm-12 ">
    <div class="box box-warning">
      <div class="box-body box-profile">
        <a class="btn btn-primary" href="{% url 'users:update' %}">Update My Info</a>
        <a class="btn btn-primary" href="{% url 'account_email' %}">Update My E-Mail</a>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  {% endif %}
</div><!-- /.row -->
{% endblock %}

