{% load staticfiles i18n %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Common Repository | {% block title %}Home{% endblock title %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Google Site-->
    <meta name="google-site-verification" content="cPWx6iSeojj6XLRGYhqDk8DCIFXCwlR7qPn-gIGBHLA" />

    {% block opengraph %}
    <meta property="og:site_name" content="Common Repository" />
    <meta property="og:title" content="{% block og_title %}None{% endblock og_title %}" />
    <meta property="og:type" content="{% block og_type %}website{% endblock og_type %}" />
    <meta property="og:url" content="{% block og_url %}None{% endblock og_url %}" />
    <meta property="og:image" content="{% block og_image %}None{% endblock og_image %}" />
    <meta property="og:description" content="{% block og_description %}None{% endblock og_description %}" />
    {% endblock opengraph %}

    {% block css %}
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{% static "ionicons/css/ionicons.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "AdminLTE/css/AdminLTE.min.css" %}">
    <link rel="stylesheet" href="{% static "AdminLTE/css/skins/skin-black.min.css" %}">
    {% endblock css %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="hold-transition skin-black fixed sidebar-mini" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="/dashboard/" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>CR</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>C</b>ommon</b> <b>R</b>epo</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              {% block navbar_messages %}
              {% if request.user.is_authenticated %}
                {% include "widgets/menu-messages.html" %}
              {% endif %}
              {% endblock navbar_messages %}

              <!-- Notifications Menu -->
              {% block navbar_notifications %}
              {% if request.user.is_authenticated %}
                {% include "widgets/menu-notification.html" %}
              {% endif %}
              {% endblock navbar_notifications %}
              
              <!-- Tasks Menu -->
              {% block navbar_tasks %}
              {% if request.user.is_authenticated %}
                {% include "widgets/menu-tasks.html" %}
              {% endif %}
              {% endblock navbar_tasks %}
              
              <!-- User Account Menu -->
              {% block navbar_user %}
              {% include "widgets/menu-user.html" %}
              {% endblock navbar_user %}
              
              <!-- Control Sidebar Toggle Button -->
              {% block navbar_sidebar_control_button %}
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
              {% endblock navbar_sidebar_control_button %}
            </ul>
          </div>
        </nav>
      </header>
      
      <!-- Left side column. contains the logo and sidebar -->
      {% block sidebar_main %}
      {% if request.user.is_authenticated %}
        {% include "widgets/sidebar-main.html" %}
      {% endif%}
      {% endblock sidebar_main %}

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {% block page_title %}{% endblock page_title %}
            <small>{% block page_description %}{% endblock page_description %}</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">{% block page_breadcrumb %}{% endblock page_breadcrumb %}</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          {% if messages %}
            {% for message in messages %}
              <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}">
                {# close-href is used because href is used by bootstrap to closing other divs #}
                <a class="close" data-dismiss="alert"{% if message.pk %} close-href="{% url message_mark_read message.pk %}"{% endif %}>×</a>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

          {% block content %}
            <p>Use this document as a way to quick start any new project.</p>
          {% endblock content %}

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      {% include "widgets/footer.html" %}

      <!-- Control Sidebar -->
      {% block sidebar_control %}
      {% if request.user.is_authenticated %}
        {% include "widgets/sidebar-control.html" %}
      {% endif %}
      {% endblock sidebar_control %}
      
    </div><!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->
    {% block javascript %}
    <!-- jQuery 2.1.4 -->
    <script src="{% static "plugins/jQuery/jQuery-2.1.4.min.js" %}" async></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- SlimScroll -->
    <script src="{% static "plugins/slimScroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
    <!-- FastClick -->
    <script src="{% static "plugins/fastclick/fastclick.min.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "AdminLTE/js/app.min.js" %}"></script>
    <!-- Google -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- Addthis-->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56896f69920ba750" async="async"></script>
    {% endblock javascript %}

  </body>
</html>
