{% extends "page.html" %}

{% load static %}

{% block title %}Downloads{% endblock %}
{% block page_title %}Downloads{% endblock %}
{% block page_description %}Everying you can download from CommonRepo{% endblock %}
{% block page_breadcrumb %}Downloads{% endblock %}

{% block content %}
<div class="row">
  <!-- col -->
  <div class="col-md-12" id="clients">
    <h1 class="text-center">
      <span class="logo-lg"><b>C</b>ommon</b> <b>R</b>epository</span>
    </h1>
    <p class="lead text-center padding-top">
        Best free online learning object repository
    </p>
  </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
  <!-- col -->
  <div class="col-md-12" id="clients">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Common Repo Client</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="img-holder">
            <img class="img-responsive" src="{% static 'images/clients/commonre-clients-preview-v0.1.1.png' %}"
                 alt="Common Repo Client"/>
        </div>
        <div class="download-description">
          <div class="text-center"
              style="margin-top: 20px; font-weight: 400;">
             Currently v0.1.1
         </div>
         <a href="https://commonrepo.s3.amazonaws.com/clients/commonrepo-client-osx-latest.app"
            class="btn btn-block btn-primary no-shaddow margin-b-sm text-uppercase">
             <i class="fa fa-apple"></i> OSX version Download
             <span class="hidden-sm">(~100 Mb)</span>
         </a>
       </div><!-- /.download-description -->
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->
{% endblock content %}