{% extends "starter.html" %}

{% block title %}ELOs - {{object.name}}{% endblock %}
{% block page_title %}ELOs Netork{% endblock %}
{% block page_description %}Netork of "{{object.name}}"{% endblock %}
{% block page_breadcrumb %}ELO Network{% endblock %}

{% block content %}

<div class="row">
  <!-- Parent ELO-->  
  <!-- col -->
  <div class="col-md-12">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Parent ELO of "{{object.name}}"</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Create Date</th>
                <th>Update Date</th>
                <th>Version</th>
                <th>Parent ELO</th>
                <th>Parent ELO version</th>
                <th>Type</th>
                <th>Public</th>
              </tr>
            </thead>
            <tbody>
              {% for parent_elo in parent_elos %}
              <tr>
                <td><a href="{% url 'elos:elos-detail' parent_elo.id %}">{{parent_elo.id}}</a></td>
                <td>{{parent_elo.name}}</td>
                <td>{{parent_elo.author}}</td>
                <td>{{parent_elo.create_date}}</td>
                <td>{{parent_elo.update_date}}</td>
                <td>{{parent_elo.version}}</td>
                <td><a href="{% url 'elos:elos-detail' parent_elo.parent_elo_id %}">{{parent_elo.parent_elo}}</a></td>
                <td>{{parent_elo.parent_elo_version}}</td>
                <td>{{parent_elo.original_type}}</td>
                <td>
                  {% if parent_elo.is_public %}
                  Yes
                  {% else %}
                  No
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">Reload</a>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
  </div><!-- /.col -->
  
  <!-- Original ELO-->
  <!-- col -->
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Original ELO "{{object.name}}"</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Create Date</th>
                <th>Update Date</th>
                <th>Version</th>
                <th>Parent ELO</th>
                <th>Parent ELO version</th>
                <th>Type</th>
                <th>Public</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="{% url 'elos:elos-detail' object.id %}">{{object.id}}</a></td>
                <td>{{object.name}}</td>
                <td>{{object.author}}</td>
                <td>{{object.create_date}}</td>
                <td>{{object.update_date}}</td>
                <td>{{object.version}}</td>
                <td><a href="{% url 'elos:elos-detail' object.parent_elo_id %}">{{object.parent_elo}}</a></td>
                <td>{{object.parent_elo_version}}</td>
                <td>{{object.original_type}}</td>
                <td>
                  {% if object.is_public %}
                  Yes
                  {% else %}
                  No
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <a href="{% url 'elos:elos-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Update this ELO</a>
        <a href="{% url 'elos:elos-fork' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Fork this ELO</a>
        <a href="{% url 'elos:elos-create' %}" class="btn btn-sm btn-warning btn-flat pull-left">Create a new ELO</a>
        <a href="{% url 'elos:elos-mylist' %}" class="btn btn-sm btn-default btn-flat pull-right">Back to My ELOs List</a>
        <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">Reload</a>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
  </div><!-- /.col -->
  
  <!-- Child ELOs-->
  <!-- col -->
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Child ELOs of "{{object.name}}"</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Create Date</th>
                <th>Update Date</th>
                <th>Version</th>
                <th>Parent ELO</th>
                <th>Parent ELO version</th>
                <th>Type</th>
                <th>Public</th>
              </tr>
            </thead>
            <tbody>
              {% for child_elo in child_elos %}
              <tr>
                <td><a href="{% url 'elos:elos-detail' child_elo.id %}">{{child_elo.id}}</a></td>
                <td>{{child_elo.name}}</td>
                <td>{{child_elo.author}}</td>
                <td>{{child_elo.create_date}}</td>
                <td>{{child_elo.update_date}}</td>
                <td>{{child_elo.version}}</td>
                <td><a href="{% url 'elos:elos-detail' child_elo.parent_elo_id %}">{{child_elo.parent_elo}}</a></td>
                <td>{{child_elo.parent_elo_version}}</td>
                <td>{{child_elo.original_type}}</td>
                <td>
                  {% if child_elo.is_public %}
                  Yes
                  {% else %}
                  No
                  {% endif %}                
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">Reload</a>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->
{% endblock content %}
