{% extends "starter.html" %}

{% load activity_tags %}
{% load avatar_tags %}
{% load licensing %}
{% load mptt_tags %}
{% load static %}
{% load threadedcomments_tags %}
{% load thumbnail %}

{% load commonrepo_tags %}

{% block title %}ELOs - {{object.name}}{% endblock %}
{% block page_title %}{{object.name}}{% endblock %}
{% block page_description %}Detail of "{{object.name}}"{% endblock %}
{% block page_breadcrumb %}ELO Detail{% endblock %}

{% block og_title %}ELOs - {{object.name}}{% endblock og_title %}
{% block og_type %}website{% endblock og_type %}
{% block og_url %}{{object.get_absolute_url}}{% endblock og_url %}
{% block og_image %}
  {% if request.user.is_authenticated %}
    {% avatar_url request.user %}
  {% else %}
    <img src="{% static "AdminLTE/img/user2-160x160.jpg" %}" class="user-image" alt="Guest User Image">
  {% endif %}
{% endblock og_image %}
{% block og_description %}Detail of {{object.name}}{% endblock og_description %}

{% block content %}
<!-- Status bar -->
{% if not object.is_public %}
<div class="row">
  <div class="col-sm-12 ">
    <div class="box box-info">
      <div class="box-body">
        <button class="btn btn-block btn-flat btn-info">This ELO is private, other people can't see this!</button>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->
{% endif %}
<!-- /.Status bar -->

<!-- Function bar -->
<div class="row">
  <div class="col-sm-12 ">
    <div class="box box-info">
      <div class="box-body">
        {% if not request.user == object.author %}
          {% if request.user|is_following:object %}
            <a href="{% url 'elos:elos-unfollow' object.id %}" class="btn btn-sm btn-danger btn-flat pull-left">Unfollow this ELO</a>
          {% else %}
            <a href="{% url 'elos:elos-follow' object.id %}" class="btn btn-sm btn-danger btn-flat pull-left">Follow this ELO</a>
          {% endif %}
        {% endif %}
        {% if object.author == request.user or user.is_staff %}
        <a href="{% url 'elos:elos-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Update this ELO</a>
        <a href="{% url 'elos:elos-metadata-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Update Metadata</a>
        {% endif %}
        {% if object.author == request.user or user.is_staff %}
          {% if object.is_public %}
            <a href="{% url 'elos:elos-unpublish' object.id %}" class="btn btn-sm btn-danger btn-flat pull-left">Unpublish the ELO</a>
          {% else %}
            <a href="{% url 'elos:elos-publish' object.id %}" class="btn btn-sm btn-danger btn-flat pull-left">Publish the ELO</a>
          {% endif %}
        {% endif %}
        <a href="{% url 'elos:elos-fork' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Fork this ELO</a>
        <a href="{% url 'elos:elos-network' object.id %}" class="btn btn-sm btn-info btn-flat pull-left">Check this ELO's Network</a>
        <a href="{% url 'elos:elos-create' %}" class="btn btn-sm btn-warning btn-flat pull-left">Create a new ELO</a>
        <a href="{% url 'elos:elos-mylist' %}" class="btn btn-sm btn-default btn-flat pull-right">Back to My ELOs List</a>
        <a href="{% url 'elos:elos-alllist' %}" class="btn btn-sm btn-default btn-flat pull-right">Back to All ELOs List</a>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->
<!-- /.Function bar -->

<div class="row">
  <!-- col -->
  <div class="col-md-4">
    <!-- ELO Cover Box -->
    <div class="box box-primary">
      <div class="box-body box-profile">
        {% if object.cover %}
          {% thumbnail object.cover "250x250" format="PNG" as cover %}
            <img class="img-responsive center-block" src="{{ cover.url }}" alt="Group {{ object.name }} logo"/>
          {% endthumbnail %}
        {% else %}
          <div class="text-center">
            <i class="fa fa-users fa-5x"></i>
          </div>
        {% endif %}
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- /.ELO Cover Box -->

    <!-- Author Info Box -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">About Author</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" src="{% avatar_url object.author %}" alt="User {{ object.author.username }} profile picture">

        <h3 class="profile-username text-center">{{ object.author.username }}</h3>

        <h4 class="profile-username text-center">{{ object.author.get_full_name }}</h4>

        <p class="text-muted text-center">{{ object.author.organization }}</p>

        <p class="text-muted text-center"><small>Member since {{ object.author.date_joined }}</small></p>

        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>Followers</b> <a href="{% url 'users:followers' object.author %}" class="pull-right">{% get_user_followers_count object.author %}</a>
          </li>
          <li class="list-group-item">
            <b>Following</b> <a href="{% url 'users:following' object.author %}" class="pull-right">{% get_user_following_count object.author %}</a>
          </li>
          <li class="list-group-item">
            <b>Friends</b> <a class="pull-right">{% get_user_friends_count object.author %}</a>
          </li>
          <li class="list-group-item">
            <b>ELOs</b> <a href="{% url 'users:elos' object.author %}" class="pull-right">{% get_user_elo_count object.author %}</a>
          </li>
          <li class="list-group-item">
            <b>Groups</b> <a class="pull-right">{% get_user_group_count object.author %}</a>
          </li>
        </ul>

        {% if object.author == request.user %}
        <a href="#" class="btn btn-primary btn-block"><b>It's You!</b></a>
        {% else %}
          {% if request.user|is_following:object.author %}
          <a href="{% url 'users:unfollow' object.author %}?next={{ request.path }}" class="btn btn-primary btn-block"><b>Unfollow</b></a>
          {% else %}
          <a href="{% url 'users:follow' object.author %}?next={{ request.path }}" class="btn btn-primary btn-block"><b>Follow</b></a>
          {% endif %}
        {% endif %}
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.Author Info Box -->
    
    <!-- ELO Info -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">About</h3>
      </div>
      <div class="box-body">
        <strong><i class="fa fa-font margin-r-5"></i> Description</strong>
        <p class="text-muted">
          {{ object.description|default:"None" }}
        </p>

        <hr>

        <strong><i class="fa fa-copyright margin-r-5"></i> License</strong>
        <p class="text-muted">
        {% if object.license %}
          {{ object.license | license_logo }}<br>
          {{ object.license | license_link }}<br>
          {{ object.license | license_short_link }}<br>
          {{ object.license.description }}
        {% else %}
          All rights reserved.
        {% endif %}
        </p>

        <hr>

        <strong><i class="fa fa-clock-o margin-r-5"></i> Create Date</strong>
        <p class="text-muted">
          {{ object.create_date }} ({{ object.create_date|timesince }} ago)
        </p>

        <hr>

        <strong><i class="fa fa-clock-o margin-r-5"></i> Update Date</strong>
        <p class="text-muted">
          {{ object.update_date }} ({{ object.update_date|timesince }} ago)
        </p>

        <hr>

        <strong><i class="fa fa-code-fork margin-r-5"></i> Forks</strong>
        <p class="text-muted">
          {{fork_count}} (<a href="{% url 'elos:elos-network' object.id %}">check detail</a>)
        </p>
      </div><!-- /.box-body -->
    </div><!-- /.box -->

    <!-- ELO Additional Info -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Additional Info</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <strong><i class="fa fa-clone margin-r-5"></i> Version</strong>
        <p class="text-muted">
          {{ object.version }}
        </p>

        <hr>

        <strong><i class="fa fa-book margin-r-5"></i> Parent ELO</strong>
        <p class="text-muted">
          <a href="{% url 'elos:elos-detail' object.parent_elo_id %}">{{object.parent_elo}}</a>
        </p>

        <hr>

        <strong><i class="fa fa-clone margin-r-5"></i> Parent ELO Version</strong>
        <p class="text-muted">
          {{ object.parent_elo.version }}
        </p>

        <hr>

        <strong><i class="fa fa-clone margin-r-5"></i> Type</strong>
        <p class="text-muted">
          {{ object.original_type }}
        </p>

        <hr>

        <strong><i class="fa fa-user margin-r-5"></i> Followers</strong>
        <p class="text-muted">
          <a href="#followers">{{ object.followed_by.all.count }}</a>
        </p>

      </div><!-- /.box-body -->
    </div><!-- /.box -->

  </div><!-- /.col -->

  <div class="col-md-8">
    <!-- Social -->
    <div class="box box-info">
      <div class="box-body">
        <div class="g-plusone pull-left" data-annotation="inline" data-width="300"></div>
        <div id="shareELOonGooglePlus">
          <button
            class="g-interactivepost btn btn-default"
            data-clientid="{% get_settings_value "OAUTH2_CLIENT_ID_GOOGLE" %}"
            data-contenturl="{{object.get_absolute_url}}"
            data-calltoactionlabel="VISIT"
            data-calltoactionurl="http://www.commonrepo.com/"
            data-cookiepolicy="single_host_origin"
            data-prefilltext="Come to share learning objects with me!">
              Invite your friends on Google Plus
          </button>
        </div>
        <div class="addthis_sharing_toolbox pull-right"></div>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- /.Social -->

    <!-- Activity -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Activity</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        {% activity_stream 'target' object %}
          <ul>
          {% for action in stream %}
              <li>{% display_action action %}</li>
              {% empty %}
              No actions yet.
          {% endfor %}
          </ul>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- /.Activity -->

    <!-- Reusability Tree -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Reusability Tree</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        {% if object.reusability_tree %}
          <ul class="root">
            {% recursetree nodes %}
              <li>
                <a href="{% url 'elos:elos-detail' node.elo.id %}">{{ node.elo.name|truncatechars:30 }}</a>
                {% if node.elo == object %}
                (Base node)
                {% else %}
                (S: {{ node.elo_similarity }}, D: {{ node.elo_diversity }})
                {% endif %}
                {% if not node.is_leaf_node %}
                  <ul class="children">
                      {{ children }}
                  </ul>
                {% endif %}
              </li>
            {% endrecursetree %}
          </ul>
        {% else %}
          <tr>
            <td>Reusability Tree does not exist</td>
          </tr>
        {% endif %}
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- /.Reusability Tree-->

    <!-- Metadata -->
    <div class="box box-info collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">Metadata</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-bordered">
          <table class="table table-hover no-margin">
            <thead>
              <tr>
                <th>Element</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              {% if object.metadata %}
                <!-- 1. General -->
                <tr>
                  <td>General-identifier</td>
                  <td>{{object.metadata.General_identifier}}</td>
                </tr>
                <tr>
                  <td>General-title</td>
                  <td>{{object.metadata.General_title}}</td>
                </tr>
                <tr>
                  <td>General-language</td>
                  <td>{{object.metadata.General_language}}</td>
                </tr>
                <tr>
                  <td>General-description</td>
                  <td>{{object.metadata.General_description}}</td>
                </tr>
                <tr>
                  <td>General-keyword</td>
                  <td>{{object.metadata.General_keyword}}</td>
                </tr>
                <tr>
                  <td>General-coverage</td>
                  <td>{{object.metadata.General_coverage}}</td>
                </tr>
                <tr>
                  <td>General-structure</td>
                  <td>{{object.metadata.General_structure}}</td>
                </tr>
                <tr>
                  <td>General-aggregationLevel</td>
                  <td>{{object.metadata.General_aggregationLevel}}</td>
                </tr>
                <!-- /.1. General -->
                <!-- 2. LifeCycle -->
                <tr>
                  <td>LifeCycle-version</td>
                  <td>{{object.metadata.LifeCycle_version}}</td>
                </tr>
                <tr>
                  <td>LifeCycle-status</td>
                  <td>{{object.metadata.LifeCycle_status}}</td>
                </tr>
                <tr>
                  <td>LifeCycle-contribute-role</td>
                  <td>{{object.metadata.LifeCycle_contribute_role}}</td>
                </tr>
                <tr>
                  <td>LifeCycle-contribute-entity</td>
                  <td>{{object.metadata.LifeCycle_contribute_entity}}</td>
                </tr>
                <tr>
                  <td>LifeCycle-contribute-date_dateTime</td>
                  <td>{{object.metadata.LifeCycle_contribute_date_dateTime}}</td>
                </tr>
                <tr>
                  <td>LifeCycle-contribute-date_description</td>
                  <td>{{object.metadata.LifeCycle_contribute_date_description}}</td>
                </tr>
                <!-- /.2. LifeCycle -->
                <!-- 3. metaMetadata -->
                <tr>
                  <td>Meta-metadata-identifier-catalog</td>
                  <td>{{object.metadata.Meta_metadata_identifier_catalog}}</td>
                </tr>
                <tr>
                  <td>Meta-metadata-identifier-entry</td>
                  <td>{{object.metadata.Meta_metadata_identifier_entry}}</td>
                </tr>
                <tr>
                  <td>Meta-metadata-contribute-role</td>
                  <td>{{object.metadata.Meta_metadata_contribute_role}}</td>
                </tr>
                <tr>
                  <td>Meta-metadata-contribute-entity</td>
                  <td>{{object.metadata.Meta_metadata_contribute_entity}}</td>
                </tr>
                <tr>
                  <td>Meta-metadata-contribute-date-dateTime</td>
                  <td>{{object.metadata.Meta_metadata_contribute_date_dateTime}}</td>
                </tr>
                <tr>
                  <td>Meta-metadata-contribute-date-dascription</td>
                  <td>{{object.metadata.Meta_metadata_contribute_date_description}}</td>
                </tr>
                <tr>
                  <td>Meta-metadata-metadataSchema</td>
                  <td>{{object.metadata.Meta_metadata_metadataSchema}}</td>
                </tr>
                <tr>
                  <td>Meta-metadata-language</td>
                  <td>{{object.metadata.Meta_metadata_language}}</td>
                </tr>
                <!-- /.3. metaMetadata -->
                <!-- 4. Technical -->
                <tr>
                  <td>Technical-format</td>
                  <td>{{object.metadata.Technical_format}}</td>
                </tr>
                <tr>
                  <td>Technical-size</td>
                  <td>{{object.metadata.Technical_size}}</td>
                </tr>
                <tr>
                  <td>Technical-location</td>
                  <td>{{object.metadata.Technical_location}}</td>
                </tr>
                <tr>
                  <td>Technical-requirement-orComposite-type</td>
                  <td>{{object.metadata.Technical_requirement_orComposite_type}}</td>
                </tr>
                <tr>
                  <td>Technical-requirement-orComposite-name</td>
                  <td>{{object.metadata.Technical_requirement_orComposite_name}}</td>
                </tr>
                <tr>
                  <td>Technical-requirement-orComposite-minimumVersion</td>
                  <td>{{object.metadata.Technical_requirement_orComposite_minimumVersion}}</td>
                </tr>
                <tr>
                  <td>Technical-requirement-orComposite-maximumVersion</td>
                  <td>{{object.metadata.Technical_requirement_orComposite_maximumVersion}}</td>
                </tr>
                <tr>
                  <td>Technical-installationRemarks</td>
                  <td>{{object.metadata.Technical_installationRemarks}}</td>
                </tr>
                <tr>
                  <td>Technical-otherPlatformRequirements</td>
                  <td>{{object.metadata.Technical_otherPlatformRequirements}}</td>
                </tr>
                <tr>
                  <td>Technical-duration-duration</td>
                  <td>{{object.metadata.Technical_duration_duration}}</td>
                </tr>
                <tr>
                  <td>Technical-duration-description</td>
                  <td>{{object.metadata.Technical_duration_description}}</td>
                </tr>
                <!-- /.4. Technical -->
                <!-- 5. Educational -->
                <tr>
                  <td>Educational-interactivityType</td>
                  <td>{{object.metadata.Educational_interactivityType}}</td>
                </tr>
                <tr>
                  <td>Educational-learningResourceType</td>
                  <td>{{object.metadata.Educational_learningResourceType}}</td>
                </tr>
                <tr>
                  <td>Educational-interactivityLevel</td>
                  <td>{{object.metadata.Educational_interactivityLevel}}</td>
                </tr>
                <tr>
                  <td>Educational-semanticDensity</td>
                  <td>{{object.metadata.Educational_semanticDensity}}</td>
                </tr>
                <tr>
                  <td>Educational-intendedEndUserRole</td>
                  <td>{{object.metadata.Educational_intendedEndUserRole}}</td>
                </tr>
                <tr>
                  <td>Educational-context</td>
                  <td>{{object.metadata.Educational_context}}</td>
                </tr>
                <tr>
                  <td>Educational-typicalAgeRange</td>
                  <td>{{object.metadata.Educational_typicalAgeRange}}</td>
                </tr>
                <tr>
                  <td>Educational-difficulty</td>
                  <td>{{object.metadata.Educational_difficulty}}</td>
                </tr>
                <tr>
                  <td>Educational-typicalLearningTime-duration</td>
                  <td>{{object.metadata.Educational_typicalLearningTime_duration}}</td>
                </tr>
                <tr>
                  <td>Educational-typicalLearningTime-description</td>
                  <td>{{object.metadata.Educational_typicalLearningTime_description}}</td>
                </tr>
                <tr>
                  <td>Educational-description</td>
                  <td>{{object.metadata.Educational_description}}</td>
                </tr>
                <tr>
                  <td>Educational-language</td>
                  <td>{{object.metadata.Educational_language}}</td>
                </tr>
                <!-- /.5. Educational -->
                <!-- 6. Rights -->
                <tr>
                  <td>Rights-cost</td>
                  <td>{{object.metadata.Rights_cost}}</td>
                </tr>
                <tr>
                  <td>Rights-copyrightAndOtherRestrictions</td>
                  <td>{{object.metadata.Rights_copyrightAndOtherRestrictions}}</td>
                </tr>
                <tr>
                  <td>Rights-description</td>
                  <td>{{object.metadata.Rights_description}}</td>
                </tr>
                <!-- /.6. Rights -->
                <!-- 7. Relation -->
                <tr>
                  <td>Relation-kind</td>
                  <td>{{object.metadata.Relation_kind}}</td>
                </tr>
                <tr>
                  <td>Relation-resource-identifier-catalog</td>
                  <td>{{object.metadata.Relation_resource_identifier_catalog}}</td>
                </tr>
                <tr>
                  <td>Relation-resource-identifier-entry</td>
                  <td>{{object.metadata.Relation_resource_identifier_entry}}</td>
                </tr>
                <tr>
                  <td>Relation-resource-description</td>
                  <td>{{object.metadata.Relation_resource_identifier_description}}</td>
                </tr>
                <!-- /.7. Relation -->
                <!-- 8. Annotation -->
                <tr>
                  <td>Annotation-entity</td>
                  <td>{{object.metadata.Annotation_entity}}</td>
                </tr>
                <tr>
                  <td>Annotation-date-dateTime</td>
                  <td>{{object.metadata.Annotation_date_dateTime}}</td>
                </tr>
                <tr>
                  <td>Annotation-date-description</td>
                  <td>{{object.metadata.Annotation_date_description}}</td>
                </tr>
                <tr>
                  <td>Annotation-description</td>
                  <td>{{object.metadata.Annotation_description}}</td>
                </tr>
                <!-- /.8. Annotation -->
                <!-- 9. Classification -->
                <tr>
                  <td>Classification-purpose</td>
                  <td>{{object.metadata.Classification_purpose}}</td>
                </tr>
                <tr>
                  <td>Classification-taxonPath-source</td>
                  <td>{{object.metadata.Classification_taxonPath_source}}</td>
                </tr>
                <tr>
                  <td>Classification-taxonPath-taxon</td>
                  <td>{{object.metadata.Classification_taxonPath_taxon}}</td>
                </tr>
                <tr>
                  <td>Classification-taxonPath-taxon-id</td>
                  <td>{{object.metadata.Classification_taxonPath_taxon_id}}</td>
                </tr>
                <tr>
                  <td>Classification-taxonPath-taxon_entry</td>
                  <td>{{object.metadata.Classification_taxonPath_taxon_entry}}</td>
                </tr>
                <tr>
                  <td>Classification-description</td>
                  <td>{{object.metadata.Classification_description}}</td>
                </tr>
                <tr>
                  <td>Classification-keyword</td>
                  <td>{{object.metadata.Classification_keyword}}</td>
                </tr>
                <!-- /.9. Classification -->
              {% else %}
                <tr>
                  <td>Metadata does not exist</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <a href="{% url 'elos:elos-metadata-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-right">Update Metadata</a>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
    <!-- /.Metadata -->

    <!-- Metadata - Precise criteria (mandatory) -->
    <div class="box box-info collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">Metadata - Precise criteria (mandatory)</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-bordered">
          <table class="table table-hover no-margin">
            <thead>
              <tr>
                <th>Element</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              {% if object.metadata %}
                <!-- 1.2 Title -->
                <tr>
                  <td>General-title</td>
                  <td>{{object.metadata.General_title}}</td>
                </tr>
                <!-- 2.1 Version -->
                <tr>
                  <td>LifeCycle-version</td>
                  <td>{{object.metadata.LifeCycle_version}}</td>
                </tr>
                <!-- 3.4 Language -->
                <tr>
                  <td>Meta-metadata-language</td>
                  <td>{{object.metadata.Meta_metadata_language}}</td>
                </tr>
                <!-- 4.5 Installation Remarks -->
                <tr>
                  <td>Technical-installationRemarks</td>
                  <td>{{object.metadata.Technical_installationRemarks}}</td>
                </tr>
                <!-- 4.6 Other Platform Requirments -->
                <tr>
                  <td>Technical-otherPlatformRequirements</td>
                  <td>{{object.metadata.Technical_otherPlatformRequirements}}</td>
                </tr>
                <!-- 6.3 Description -->
                <tr>
                  <td>Rights-description</td>
                  <td>{{object.metadata.Rights_description}}</td>
                </tr>
                <!-- 7.2.1.1 Catalog -->
                <tr>
                  <td>Relation-resource-identifier-catalog</td>
                  <td>{{object.metadata.Relation_resource_identifier_catalog}}</td>
                </tr>
                <!-- 7.2.1.2 Entry -->
                <tr>
                  <td>Relation-resource-identifier-entry</td>
                  <td>{{object.metadata.Relation_resource_identifier_entry}}</td>
                </tr>
                <!-- 8.1 Entity -->
                <tr>
                  <td>Annotation-entity</td>
                  <td>{{object.metadata.Annotation_entity}}</td>
                </tr>
                <!-- 8.3 Description -->
                <tr>
                  <td>Annotation-description</td>
                  <td>{{object.metadata.Annotation_description}}</td>
                </tr>
                <!-- 9.2.1 Source -->
                <tr>
                  <td>Classification-taxonPath-source</td>
                  <td>{{object.metadata.Classification_taxonPath_source}}</td>
                </tr>
                <!-- 9.2.2.1 Id -->
                <tr>
                  <td>Classification-taxonPath-taxon-id</td>
                  <td>{{object.metadata.Classification_taxonPath_taxon_id}}</td>
                </tr>
                <!-- 9.2.2.2 Entry -->
                <tr>
                  <td>Classification-taxonPath-taxon_entry</td>
                  <td>{{object.metadata.Classification_taxonPath_taxon_entry}}</td>
                </tr>
                <tr>
                <!-- 9.3 Description -->
                <tr>
                  <td>Classification-description</td>
                  <td>{{object.metadata.Classification_description}}</td>
                </tr>
              {% else %}
                <tr>
                  <td>Metadata does not exist</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <a href="{% url 'elos:elos-metadata-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-right">Update Metadata</a>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
    <!-- /.Metadata - Precise criteria (mandatory) -->

    <!-- Metadata - Incremental criteria (rewritable) -->
    <div class="box box-info collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">Metadata - Incremental criteria (rewritable)</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-bordered">
          <table class="table table-hover no-margin">
            <thead>
              <tr>
                <th>Element</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              {% if object.metadata %}
                <!-- 1.3 Language -->
                <tr>
                  <td>General-language</td>
                  <td>{{object.metadata.General_language}}</td>
                </tr>
                <!-- 1.4 Description -->
                <tr>
                  <td>General-description</td>
                  <td>{{object.metadata.General_description}}</td>
                </tr>
                <!-- 1.5 Keyword -->
                <tr>
                  <td>General-keyword</td>
                  <td>{{object.metadata.General_keyword}}</td>
                </tr>
                <!-- 1.6 Coverage -->
                <tr>
                  <td>General-coverage</td>
                  <td>{{object.metadata.General_coverage}}</td>
                </tr>
                <!-- 2.3.2 Entity -->
                <tr>
                  <td>LifeCycle-contribute-entity</td>
                  <td>{{object.metadata.LifeCycle_contribute_entity}}</td>
                </tr>
                <!-- 3.2.2 Entity -->
                <tr>
                  <td>Meta-metadata-contribute-entity</td>
                  <td>{{object.metadata.Meta_metadata_contribute_entity}}</td>
                </tr>
                <!-- 4.1 Format -->
                <tr>
                  <td>Technical-format</td>
                  <td>{{object.metadata.Technical_format}}</td>
                </tr>
                <!-- 4.3 Location -->
                <tr>
                  <td>Technical-location</td>
                  <td>{{object.metadata.Technical_location}}</td>
                </tr>
                <!-- 5.10 Description -->
                <tr>
                  <td>Educational-description</td>
                  <td>{{object.metadata.Educational_description}}</td>
                </tr>
                <!-- 7.2.2 Description -->
                <tr>
                  <td>Relation-resource-description</td>
                  <td>{{object.metadata.Relation_resource_identifier_description}}</td>
                </tr>
                <!-- 9.4 Keyword -->
                <tr>
                  <td>Classification-keyword</td>
                  <td>{{object.metadata.Classification_keyword}}</td>
                </tr>
              {% else %}
                <tr>
                  <td>Metadata does not exist</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <a href="{% url 'elos:elos-metadata-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-right">Update Metadata</a>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
    <!-- /.Metadata - Incremental criteria (rewritable) -->

    <!-- Metadata Precedence criteria (rewritable) -->
    <div class="box box-info collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">Metadata - Precedence criteria (rewritable)</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-bordered">
          <table class="table table-hover no-margin">
            <thead>
              <tr>
                <th>Element</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              {% if object.metadata %}
                <!-- 4.2 Size -->
                <tr>
                  <td>Technical-size</td>
                  <td>{{object.metadata.Technical_size}}</td>
                </tr>
                <!-- 4.4.1.3 Minimum Version -->
                <tr>
                  <td>Technical-requirement-orComposite-minimumVersion</td>
                  <td>{{object.metadata.Technical_requirement_orComposite_minimumVersion}}</td>
                </tr>
                <!-- 4.4.1.3 Maximum Version -->
                <tr>
                  <td>Technical-requirement-orComposite-maximumVersion</td>
                  <td>{{object.metadata.Technical_requirement_orComposite_maximumVersion}}</td>
                </tr>
                <!-- 5.7 Typical Age Range -->
                <tr>
                  <td>Educational-typicalAgeRange</td>
                  <td>{{object.metadata.Educational_typicalAgeRange}}</td>
                </tr>
              {% else %}
                <tr>
                  <td>Metadata does not exist</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <a href="{% url 'elos:elos-metadata-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-right">Update Metadata</a>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
    <!-- /.Metadata Precedence criteria (rewritable) -->

    <!-- Metadata Time/duration criteria (rewritable) -->
    <div class="box box-info collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">Metadata - Time/duration criteria (rewritable)</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-bordered">
          <table class="table table-hover no-margin">
            <thead>
              <tr>
                <th>Element</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              {% if object.metadata %}
                <!-- 2.3.3 Date -->
                <tr>
                  <td>LifeCycle-contribute-date_dateTime</td>
                  <td>{{object.metadata.LifeCycle_contribute_date_dateTime}}</td>
                </tr>
                <tr>
                  <td>LifeCycle-contribute-date_description</td>
                  <td>{{object.metadata.LifeCycle_contribute_date_description}}</td>
                </tr>
                <!-- 3.2.3 Date -->
                <tr>
                  <td>Meta-metadata-contribute-date-dateTime</td>
                  <td>{{object.metadata.Meta_metadata_contribute_date_dateTime}}</td>
                </tr>
                <tr>
                  <td>Meta-metadata-contribute-date-dascription</td>
                  <td>{{object.metadata.Meta_metadata_contribute_date_description}}</td>
                </tr>
                <!-- 4.7 Duration -->
                <tr>
                  <td>Technical-duration-duration</td>
                  <td>{{object.metadata.Technical_duration_duration}}</td>
                </tr>
                <tr>
                  <td>Technical-duration-description</td>
                  <td>{{object.metadata.Technical_duration_description}}</td>
                </tr>
                <!-- 5.9 Typical Learning -->
                <tr>
                  <td>Educational-typicalLearningTime-duration</td>
                  <td>{{object.metadata.Educational_typicalLearningTime_duration}}</td>
                </tr>
                <tr>
                  <td>Educational-typicalLearningTime-description</td>
                  <td>{{object.metadata.Educational_typicalLearningTime_description}}</td>
                </tr>
                <!-- 8.2 Date -->
                <tr>
                  <td>Annotation-date-dateTime</td>
                  <td>{{object.metadata.Annotation_date_dateTime}}</td>
                </tr>
                <tr>
                  <td>Annotation-date-description</td>
                  <td>{{object.metadata.Annotation_date_description}}</td>
                </tr>
              {% else %}
                <tr>
                  <td>Metadata does not exist</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <a href="{% url 'elos:elos-metadata-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-right">Update Metadata</a>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
    <!-- /.Metadata Time/duration criteria (rewritable) -->

    <!-- Metadata - Single-choice criteria (rewritable) -->
    <div class="box box-info collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">Metadata - Single-choice criteria (rewritable)</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-bordered">
          <table class="table table-hover no-margin">
            <thead>
              <tr>
                <th>Element</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              {% if object.metadata %}
                <!-- 1.7 Structure -->
                <tr>
                  <td>General-structure</td>
                  <td>{{object.metadata.General_structure}}</td>
                </tr>
                <!-- 1.8 Aggrregation Level -->
                <tr>
                  <td>General-aggregationLevel</td>
                  <td>{{object.metadata.General_aggregationLevel}}</td>
                </tr>
                <!-- 2.2 Status -->
                <tr>
                  <td>LifeCycle-status</td>
                  <td>{{object.metadata.LifeCycle_status}}</td>
                </tr>
                <!-- 2.3.1 Role -->
                <tr>
                  <td>LifeCycle-contribute-role</td>
                  <td>{{object.metadata.LifeCycle_contribute_role}}</td>
                </tr>
                <!-- 3.2.1 Role -->
                <tr>
                  <td>Meta-metadata-contribute-role</td>
                  <td>{{object.metadata.Meta_metadata_contribute_role}}</td>
                </tr>
                <!-- 4.4.1.1 Type-->
                <tr>
                  <td>Technical-requirement-orComposite-type</td>
                  <td>{{object.metadata.Technical_requirement_orComposite_type}}</td>
                </tr>
                <!-- 4.4.1.2 Name -->
                <tr>
                  <td>Technical-requirement-orComposite-name</td>
                  <td>{{object.metadata.Technical_requirement_orComposite_name}}</td>
                </tr>
                <!-- 5.1 Interactivity Type -->
                <tr>
                  <td>Educational-interactivityType</td>
                  <td>{{object.metadata.Educational_interactivityType}}</td>
                </tr>
                <!-- 5.3 Interactivity Level -->
                <tr>
                  <td>Educational-interactivityLevel</td>
                  <td>{{object.metadata.Educational_interactivityLevel}}</td>
                </tr>
                <!-- 5.4 Semantic Density -->
                <tr>
                  <td>Educational-semanticDensity</td>
                  <td>{{object.metadata.Educational_semanticDensity}}</td>
                </tr>
                <!-- 5.8 Defficulty -->
                <tr>
                  <td>Educational-difficulty</td>
                  <td>{{object.metadata.Educational_difficulty}}</td>
                </tr>
                <!-- 6.1 Cost -->
                <tr>
                  <td>Rights-cost</td>
                  <td>{{object.metadata.Rights_cost}}</td>
                </tr>
                <!-- 6.2 Copyright and Other Restrictions -->
                <tr>
                  <td>Rights-copyrightAndOtherRestrictions</td>
                  <td>{{object.metadata.Rights_copyrightAndOtherRestrictions}}</td>
                </tr>
                <!-- 7.1 Kind -->
                <tr>
                  <td>Relation-kind</td>
                  <td>{{object.metadata.Relation_kind}}</td>
                </tr>
                <!-- 9.1 Purpose -->
                <tr>
                  <td>Classification-purpose</td>
                  <td>{{object.metadata.Classification_purpose}}</td>
                </tr>
              {% else %}
                <tr>
                  <td>Metadata does not exist</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <a href="{% url 'elos:elos-metadata-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-right">Update Metadata</a>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
    <!-- /.Metadata - Single-choice criteria (rewritable) -->

    <!-- Metadata - Many-choice criteria (rewritable) -->
    <div class="box box-info collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">Metadata - Many-choice criteria (rewritable)</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="table-bordered">
          <table class="table table-hover no-margin">
            <thead>
              <tr>
                <th>Element</th>
                <th>Data</th>
              </tr>
            </thead>
            <tbody>
              {% if object.metadata %}
                <!-- 3.3 Metadata Schema -->
                <tr>
                  <td>Meta-metadata-metadataSchema</td>
                  <td>{{object.metadata.Meta_metadata_metadataSchema}}</td>
                </tr>
                <!-- 5.2 Learning Resource Type -->
                <tr>
                  <td>Educational-learningResourceType</td>
                  <td>{{object.metadata.Educational_learningResourceType}}</td>
                </tr>
                <!-- 5.5 Intended End User Role -->
                <tr>
                  <td>Educational-intendedEndUserRole</td>
                  <td>{{object.metadata.Educational_intendedEndUserRole}}</td>
                </tr>
                <!-- 5.6 Context -->
                <tr>
                  <td>Educational-context</td>
                  <td>{{object.metadata.Educational_context}}</td>
                </tr>
              {% else %}
                <tr>
                  <td>Metadata does not exist</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <a href="{% url 'elos:elos-metadata-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-right">Update Metadata</a>
      </div><!-- /.box-footer -->
    </div><!-- /.box -->
    <!-- /.Metadata - Many-choice criteria (rewritable)-->

    <!-- Comments -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Comments</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        {% get_comment_count for object as comments_count %}
        <span class="pull-right text-muted">{{ comments_count }} comments have been posted</span>
      </div>
      <div class="box-body">
        <div class="box-comments">
          {% render_comment_list for object %}
        </div>
      </div><!-- /.box-body -->
      <div class="box-footer">
        {% render_comment_form for object %}
      </div>
    </div><!-- /.box -->
    <!-- /.Comments -->

    <!-- Followers -->
    <div class="box box-info" id="followers">
      <div class="box-header with-border">
        <h3 class="box-title">Followers</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <ul class="users-list clearfix">
          {% for follower in object.followed_by.all %}
            <li>
                <a href="{% url 'users:detail' follower.user %}"><img src="{% avatar_url follower.user %}" alt="User {{ follower.user.username }} profile picture"/></a>
                <a href="{% url 'users:detail' follower.user %}"><span class="users-list-date">{{ follower.user.username }}</span></a>
            </li>
          {% empty %}
            <span>No follower yet. Be the first one?</span>
            {% if not request.user|is_following:object and not request.user == object.author%}
              <a href="{% url 'elos:elos-follow' object.id %}" class="btn btn-sm btn-danger btn-flat">Follow this ELO</a>
            {% endif %}
          {% endfor %}
        </ul>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- /.Followers -->

  </div><!-- /. col -->

</div><!-- /.row -->

<!-- Function bar -->
<div class="row">
  <div class="col-sm-12 ">
    <div class="box box-info">
      <div class="box-body">
        {% if not request.user == object.author %}
          {% if request.user|is_following:object %}
            <a href="{% url 'elos:elos-unfollow' object.id %}" class="btn btn-sm btn-danger btn-flat pull-left">Unfollow this ELO</a>
          {% else %}
            <a href="{% url 'elos:elos-follow' object.id %}" class="btn btn-sm btn-danger btn-flat pull-left">Follow this ELO</a>
          {% endif %}
        {% endif %}
        {% if object.author == request.user or user.is_staff %}
        <a href="{% url 'elos:elos-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Update this ELO</a>
        <a href="{% url 'elos:elos-metadata-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Update Metadata</a>
        {% endif %}
        {% if object.author == request.user or user.is_staff %}
          {% if object.is_public %}
            <a href="{% url 'elos:elos-unpublish' object.id %}" class="btn btn-sm btn-danger btn-flat pull-left">Unpublish the ELO</a>
          {% else %}
            <a href="{% url 'elos:elos-publish' object.id %}" class="btn btn-sm btn-danger btn-flat pull-left">Publish the ELO</a>
          {% endif %}
        {% endif %}
        <a href="{% url 'elos:elos-fork' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Fork this ELO</a>
        <a href="{% url 'elos:elos-network' object.id %}" class="btn btn-sm btn-info btn-flat pull-left">Check this ELO's Network</a>
        <a href="{% url 'elos:elos-create' %}" class="btn btn-sm btn-warning btn-flat pull-left">Create a new ELO</a>
        <a href="{% url 'elos:elos-mylist' %}" class="btn btn-sm btn-default btn-flat pull-right">Back to My ELOs List</a>
        <a href="{% url 'elos:elos-alllist' %}" class="btn btn-sm btn-default btn-flat pull-right">Back to All ELOs List</a>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->
<!-- /.Function bar -->
{% endblock content %}
