{% extends "starter.html" %}

{% load activity_tags %}
{% load avatar_tags %}

{% load commonrepo_tags %}

{% block title %}Groups - {{object.name}}{% endblock %}
{% block page_title %}{{object.name}}{% endblock %}
{% block page_description %}Detail of "{{object.name}}"{% endblock %}
{% block page_breadcrumb %}Group Detail{% endblock %}

{% block content %}
<!-- Function bar -->
<div class="row">
  <div class="col-sm-12 ">
    <div class="box box-info">
      <div class="box-body">
        <a href="{% follow_url object %}?next={{ request.path }}" class="btn btn-sm btn-info btn-flat pull-left">
          {% if request.user|is_following:object %}
              Unfollow this Group
          {% else %}
              Follow this Group
          {% endif %}
        </a>
        {% if object.creator == request.user or user.is_staff %}
        <a href="{% url 'groups:groups-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Update this Group</a>
        {% endif %}
        <a href="{% url 'groups:groups-abort' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Abort this Group</a>
        <a href="{% url 'groups:groups-join' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Join this Group</a>
        <a href="{% url 'groups:groups-create' %}" class="btn btn-sm btn-warning btn-flat pull-left">Create a new Group</a>
        <a href="{% url 'groups:groups-mylist' %}" class="btn btn-sm btn-default btn-flat pull-right">Back to My Groups List</a>
        <a href="{% url 'groups:groups-alllist' %}" class="btn btn-sm btn-default btn-flat pull-right">Back to All Groups List</a>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->
<!-- /.Function bar -->

<div class="row">
  <!-- Group Info -->
  <div class="col-md-4">
    <!-- Group Creator Info Box -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">About Creator</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" src="{% avatar_url object.creator %}" alt="User {{ object.creator.username }} profile picture">

        <h3 class="profile-username text-center">{{ object.creator.username }}</h3>

        <h4 class="profile-username text-center">{{ object.creator.get_full_name }}</h4>

        <p class="text-muted text-center">{{ object.creator.organization }}</p>

        <p class="text-muted text-center"><small>Member since {{ object.creator.date_joined }}</small></p>

        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>Followers</b> <a class="pull-right">{% get_user_followers_count object.creator %}</a>
          </li>
          <li class="list-group-item">
            <b>Following</b> <a class="pull-right">{% get_user_following_count object.creator %}</a>
          </li>
          <li class="list-group-item">
            <b>Friends</b> <a class="pull-right">{% get_user_friends_count object.creator %}</a>
          </li>
          <li class="list-group-item">
            <b>ELOs</b> <a class="pull-right">{% get_user_elo_count object.creator %}</a>
          </li>
          <li class="list-group-item">
            <b>Groups</b> <a class="pull-right">{% get_user_group_count object.creator %}</a>
          </li>
        </ul>

        {% if object.creator == request.user %}
        <a href="#" class="btn btn-primary btn-block"><b>It's You!</b></a>
        {% else %}
          {% if request.user|is_following:object.creator %}
          <a href="{% url 'users:unfollow' object.creator %}?next={{ request.path }}" class="btn btn-primary btn-block"><b>Unfollow</b></a>
          {% else %}
          <a href="{% url 'users:follow' object.creator %}?next={{ request.path }}" class="btn btn-primary btn-block"><b>Follow</b></a>
          {% endif %}
        {% endif %}
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- /.Group Creator Info Box -->

    <!-- Group Info Box -->
    <div class="box box-primary">
      <div class="box-body">
        <strong><i class="fa fa-font margin-r-5"></i> Description</strong>
        <p class="text-muted">
          {% if object.description%}
            {{ object.description }}
          {% else %}
            None
          {% endif %}
        </p>

        <hr>

        <strong><i class="fa fa-clock-o margin-r-5"></i> Create Date</strong>
        <p class="text-muted">
          {{ object.create_date }}
        </p>

        <hr>

        <strong><i class="fa fa-clock-o margin-r-5"></i> Update Date</strong>
        <p class="text-muted">
          {{ object.update_date }}
        </p>

        <hr>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- /.Group Info Box -->

  </div><!-- /.col -->
  <!-- /.Group Info-->

  <!-- Activity -->
  <div class="col-md-8">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Activity</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        {% activity_stream 'target' object %}
          <ul>
          {% for action in stream %}
              <li>{% display_action action %}</li>
              {% empty %}
              No actions yet.
          {% endfor %}
          </ul>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->

  <!-- Members -->
  <div class="col-md-8">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Members</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <ul class="users-list clearfix">
          {% for member in object.members.all %}
            <li>
                <img src="{% avatar_url member %}" alt="User {{ member.username }} profile picture"/>
                <a href="{% url 'users:detail' member %}"><span class="users-list-date">{{ member.username }}</span></a>
            </li>
          {% endfor %}
        </ul>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->

</div><!-- /.row -->

<!-- Function bar -->
<div class="row">
  <div class="col-sm-12 ">
    <div class="box box-info">
      <div class="box-body">
        {% if object.creator == request.user or user.is_staff %}
        <a href="{% url 'groups:groups-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Update this Group</a>
        {% endif %}
        <a href="{% url 'groups:groups-abort' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Abort this Group</a>
        <a href="{% url 'groups:groups-join' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Join this Group</a>
        <a href="{% url 'groups:groups-create' %}" class="btn btn-sm btn-warning btn-flat pull-left">Create a new Group</a>
        <a href="{% url 'groups:groups-mylist' %}" class="btn btn-sm btn-default btn-flat pull-right">Back to My Groups List</a>
        <a href="{% url 'groups:groups-alllist' %}" class="btn btn-sm btn-default btn-flat pull-right">Back to All Groups List</a>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->
<!-- /.Function bar -->

{% endblock content %}
