{% extends "starter.html" %}

{% load activity_tags %}
{% load avatar_tags %}
{% load threadedcomments_tags %}
{% load thumbnail %}

{% load commonrepo_tags %}

{% block title %}Groups - {{object.name}}{% endblock %}
{% block page_title %}{{object.name}}{% endblock %}
{% block page_description %}Detail of "{{object.name}}"{% endblock %}
{% block page_breadcrumb %}Group Detail{% endblock %}

{% block content %}
<!-- Function bar -->
<div class="row">
  <div class="col-sm-12 ">
    <div class="box box-info">
      <div class="box-body">
        {% if not request.user == object.creator %}
          {% if request.user|is_following:object %}
            <a href="{% url 'groups:groups-unfollow' object.id %}" class="btn btn-sm btn-danger btn-flat pull-left">Unfollow this Group</a>
          {% else %}
            <a href="{% url 'groups:groups-follow' object.id %}" class="btn btn-sm btn-danger btn-flat pull-left">Follow this Group</a>
          {% endif %}
        {% endif %}
        {% if object.creator == request.user or user.is_staff %}
        <a href="{% url 'groups:groups-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Update this Group</a>
        {% endif %}
        <a href="{% url 'groups:groups-abort' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Abort this Group</a>
        <a href="{% url 'groups:groups-join' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Join this Group</a>
        <a href="{% url 'groups:groups-create' %}" class="btn btn-sm btn-warning btn-flat pull-left">Create a new Group</a>
        <a href="{% url 'groups:groups-mylist' %}" class="btn btn-sm btn-default btn-flat pull-right">Back to My Groups List</a>
        <a href="{% url 'groups:groups-alllist' %}" class="btn btn-sm btn-default btn-flat pull-right">Back to All Groups List</a>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->
<!-- /.Function bar -->

<div class="row">
  <!-- Group Info -->
  <div class="col-md-4">
    <!-- Group Info Box -->
    <div class="box box-primary">
      <div class="box-body box-profile">
        {% if object.logo %}
          <img class="img-circle" src="{% thumbnail object.logo 250x250 crop %}" alt="Group {{ object.name }} logo">
        {% else %}
          <div class="text-center">
            <i class="fa fa-users fa-5x"></i>
          </div>
        {% endif %}
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- /.Group Info Box -->

    <!-- Group Creator Info Box -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">About Creator</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" src="{% avatar_url object.creator %}" alt="User {{ object.creator.username }} profile picture">

        <h3 class="profile-username text-center">{{ object.creator.username }}</h3>

        <h4 class="profile-username text-center">{{ object.creator.get_full_name }}</h4>

        <p class="text-muted text-center">{{ object.creator.organization }}</p>

        <p class="text-muted text-center"><small>Member since {{ object.creator.date_joined }}</small></p>

        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>Followers</b> <a href="{% url 'users:followers' object.creator %}" class="pull-right">{% get_user_followers_count object.creator %}</a>
          </li>
          <li class="list-group-item">
            <b>Following</b> <a href="{% url 'users:following' object.creator %}" class="pull-right">{% get_user_following_count object.creator %}</a>
          </li>
          <li class="list-group-item">
            <b>Friends</b> <a class="pull-right">{% get_user_friends_count object.creator %}</a>
          </li>
          <li class="list-group-item">
            <b>ELOs</b> <a href="{% url 'users:elos' object.creator %}" class="pull-right">{% get_user_elo_count object.creator %}</a>
          </li>
          <li class="list-group-item">
            <b>Groups</b> <a class="pull-right">{% get_user_group_count object.creator %}</a>
          </li>
        </ul>

        {% if object.creator == request.user %}
        <a href="#" class="btn btn-primary btn-block"><b>It's You!</b></a>
        {% else %}
          {% if request.user|is_following:object.creator %}
          <a href="{% url 'users:unfollow' object.creator %}?next={{ request.path }}" class="btn btn-primary btn-block"><b>Unfollow</b></a>
          {% else %}
          <a href="{% url 'users:follow' object.creator %}?next={{ request.path }}" class="btn btn-primary btn-block"><b>Follow</b></a>
          {% endif %}
        {% endif %}
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- /.Group Creator Info Box -->

    <!-- Group Additional Info Box -->
    <div class="box box-primary">
      <div class="box-body">
        <strong><i class="fa fa-font margin-r-5"></i> Description</strong>
        <p class="text-muted">
          {% if object.description%}
            {{ object.description }}
          {% else %}
            None
          {% endif %}
        </p>

        <hr>

        <strong><i class="fa fa-clock-o margin-r-5"></i> Create Date</strong>
        <p class="text-muted">
          {{ object.create_date }}
        </p>

        <hr>

        <strong><i class="fa fa-clock-o margin-r-5"></i> Update Date</strong>
        <p class="text-muted">
          {{ object.update_date }}
        </p>

        <hr>

        <strong><i class="fa fa-user margin-r-5"></i> Members</strong>
        <p class="text-muted">
          <a href="#members">{{ object.members.all.count }}</a>
        </p>

        <hr>

        <strong><i class="fa fa-user margin-r-5"></i> Followers</strong>
        <p class="text-muted">
          <a href="#followers">{{ object.followed_by.all.count }}</a>
        </p>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- /.Group Additional Info Box -->

  </div><!-- /.col -->
  <!-- /.Group Info-->

  <div class="col-md-8">

    <!-- Activity -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Activity</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        {% activity_stream 'target' object %}
          <ul>
          {% for action in stream %}
              <li>{% display_action action %}</li>
              {% empty %}
              No actions yet.
          {% endfor %}
          </ul>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- /.Activity -->

    <!-- Comments -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Comments</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        {% get_comment_count for object as comments_count %}
        <span class="pull-right text-muted">{{ comments_count }} comments have been posted</span>
      </div>
      <div class="box-body">
        <div class="box-comments">
          {% render_comment_list for object %}
        </div>
      </div><!-- /.box-body -->
      <div class="box-footer">
        {% render_comment_form for object %}
      </div>
    </div><!-- /.box -->
    <!-- /.Comments -->

    <!-- Members -->
    <div class="box box-info" id="members">
      <div class="box-header with-border">
        <h3 class="box-title">Members</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <ul class="users-list clearfix">
          {% for member in object.members.all %}
            <li>
                <a href="{% url 'users:detail' member %}"><img src="{% avatar_url member %}" alt="User {{ member.username }} profile picture"/></a>
                <a href="{% url 'users:detail' member %}"><span class="users-list-date">{{ member.username }}</span></a>
            </li>
          {% endfor %}
        </ul>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- /.Members -->

    <!-- Followers -->
    <div class="box box-info" id="followers">
      <div class="box-header with-border">
        <h3 class="box-title">Followers</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <ul class="users-list clearfix">
          {% for follower in object.followed_by.all %}
            <li>
                <a href="{% url 'users:detail' follower.user %}"><img src="{% avatar_url follower.user %}" alt="User {{ follower.user.username }} profile picture"/></a>
                <a href="{% url 'users:detail' follower.user %}"><span class="users-list-date">{{ follower.user.username }}</span></a>
            </li>
          {% empty %}
            <span>No follower yet. Be the first one?</span>
            {% if not request.user|is_following:object and not request.user == object.creator %}
              <a href="{% url 'groups:groups-follow' object.id %}" class="btn btn-sm btn-danger btn-flat">Follow this Group</a>
            {% endif %}
          {% endfor %}
        </ul>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
    <!-- /.Followers -->

  </div><!-- /.col -->

</div><!-- /.row -->

<!-- Function bar -->
<div class="row">
  <div class="col-sm-12 ">
    <div class="box box-info">
      <div class="box-body">
        {% if not request.user == object.creator %}
          {% if request.user|is_following:object %}
            <a href="{% url 'groups:groups-unfollow' object.id %}" class="btn btn-sm btn-danger btn-flat pull-left">Unfollow this Group</a>
          {% else %}
            <a href="{% url 'groups:groups-follow' object.id %}" class="btn btn-sm btn-danger btn-flat pull-left">Follow this Group</a>
          {% endif %}
        {% endif %}
        {% if object.creator == request.user or user.is_staff %}
        <a href="{% url 'groups:groups-update' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Update this Group</a>
        {% endif %}
        <a href="{% url 'groups:groups-abort' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Abort this Group</a>
        <a href="{% url 'groups:groups-join' object.id %}" class="btn btn-sm btn-primary btn-flat pull-left">Join this Group</a>
        <a href="{% url 'groups:groups-create' %}" class="btn btn-sm btn-warning btn-flat pull-left">Create a new Group</a>
        <a href="{% url 'groups:groups-mylist' %}" class="btn btn-sm btn-default btn-flat pull-right">Back to My Groups List</a>
        <a href="{% url 'groups:groups-alllist' %}" class="btn btn-sm btn-default btn-flat pull-right">Back to All Groups List</a>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
</div><!-- /.row -->
<!-- /.Function bar -->

{% endblock content %}
