{% load crispy_forms_tags %}

<div class="box-comment">
    <h3 class="box-title">Post a comment</h3>
    <form action="{% url 'comments-post-comment' %}" method="post">{% csrf_token %}
        {{ form|crispy }}{# just to keep the example simple. Consider using django-crispy-forms in real life #}

        <p>
            <a href="#c0" id="cancel_reply" role="button" class="btn btn-default">Cancel Reply</a>
            <input type="submit" name="save" value="Submit" class="btn btn-primary"/>
        </p>
    </form>
</div>
